/*  Mobile Resp.  */

@media (max-width: 600px) {
  .xsHide {
    display: none;
  }

  .desktopHide {
    display: block;
  }

  .menuMobileButton {
    background: none;
    border: none;
    padding: 0.5rem;
    justify-content: flex-end;
  }

  .menuMobileButton:hover {
    color: #f0372d;
    cursor: pointer;
  }

  .homeContainer {
    height: 80%;
    width: 100%;
    border-radius: 0;
    padding: 2.5rem;
  }

  .xsMenu {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 20;
  }

  .backDrop {
    position: fixed;
    background: rgba(232, 232, 232, 0.8);
    width: 100%;
    height: 100%;
  }

  .xsMenuContainer {
    width: 70%;
    height: 100%;
    background: white;
  }

  .xsMenuItems {
    font-size: large;
    padding: 3rem;
    list-style: none;
  }

  .xsMenuItems li a {
    color: #707070;
    text-decoration: none;
    font-weight: 700;
    height: 100%;
  }

  .xsMenuItems li a:hover {
    color: #181430;
  }

  /* About Us ///////////////////////////*/

  .aboutContainer {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 1.5rem;
    height: calc(100% - 1rem);
    width: 100%;
    border-radius: 0;
    flex-direction: column-reverse;
  }

  .aboutContainer article {
    margin: 0 3rem 3rem 3rem;
  }

  .imageAbout {
    height: 70%;
    width: 100%;
  }

  /* Services ///////////////////////////////// */

  .mainServices {
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 2rem;
    border-radius: 0;
    margin: 0;
  }

  .mainServices div {
    padding: 1rem;
    width: 80%;
  }



  /* Business Services ///////////////////////////*/

  .servicesContainer {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .sideServices {
    width: 100%;
    flex: none;
    margin: 0;
  }

  .mainBusiness {
    border-radius: 0%;
    width: 100%;
    height: 60vh;
    margin: 0%;
    overflow: auto;
  }

  /* Contact Us ///////////////////////////*/

  .contactContainer {
    height: 80%;
    width: 100%;
    border-radius: 0;
    padding: 2.5rem;
  }
}
