$koiPrimary: #181430;
$koiSecondary: #f0372d;

@mixin flexCenterCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.koiContent {
  display: grid;
  place-items: center;
  grid-template-rows: 2fr auto;
  z-index: 10;
}

.homeContainer {
  @include flexCenterCenter();
  margin-top: 20vh;
  flex-direction: column;
  background-color: $koiPrimary;
  height: 80%;
  width: 55%;
  border-radius: 100px;
  padding: 2.5rem;

  p {
    color: white;
    font-size: small;
  }
}

.imageHome {
  height: 10rem;
  width: 60%;
  background-image: url("../assets/svg/homeImg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.sectionTitle {
  color: $koiSecondary;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  margin: 2rem;
}

.homeGrid {
  height: 25vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 7px;
  grid-template-areas: "pic1 pic2 pic3 pic4 pic5";
  margin: 5px;
}

.pic {
  background-size: cover;
  background-repeat: no-repeat;
}

.pic1 {
  grid-area: pic1;
  background-image: url("../assets/jpg/sustentabilidad.jpg");
  background-position: center;
  @extend.pic;
}

.pic2 {
  grid-area: pic2;
  background-image: url("../assets/jpg/escuela.jpg");
  @extend.pic;
}

.pic3 {
  grid-area: pic3;
  background-image: url("../assets/jpg/huerta.jpg");
  @extend.pic;
}

.pic4 {
  grid-area: pic4;
  background-image: url("../assets/jpg/meditacion.jpg");
  @extend.pic;
}

.pic5 {
  grid-area: pic5;
  background-image: url("../assets/jpg/vegetarianismo.jpg");
  @extend.pic;
}


.homeKnowMore {
  width: 100%;
  min-height: 50vh;
  background-color: #141220;
  color: white;

  p {
    margin: 4rem;
    font-size: medium;
    text-align: center;
  }

  span{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: large;
    text-align: center;
    margin: 3rem;
  }
}

.homeIntro {
  @include flexCenterCenter();
  width: 100%;
  min-height: 90vh;
}
