$koiPrimary: #181430;
$koiSecondary: #f0372d;

@mixin bg-gradient {
  background: rgb(232, 232, 232);
  background: linear-gradient(
    180deg,
    rgba(#E1E8E2, 1) 0%,
    rgba(#B1CBB1, 1) 100%
  );
}

@mixin flexCenterCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicesContainer {
  @include flexCenterCenter();
  color: #707070;
  background-color: white;
  min-width: 100%;
  margin: 1rem 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.topServices {
  @include flexCenterCenter();
  flex-direction: column;
  color: black;
  p {
    text-align: center;
  }
}

.mainServices {
  flex: 1 1 40%;
  margin: 0rem 2rem 2rem 1rem;
  @include flexCenterCenter();

  div {
    justify-content: space-around;
    padding: 1rem;
    font-size: x-small;
    width: 30%;
  }

  h3 {
    color: $koiPrimary;
    font-size: medium;
    font-style: italic;
    text-align: center;
    margin-bottom: 1rem;
  }

  p{
    text-align: center;
  }

  a {
    display: flex;
    justify-content: center;
    margin: 1rem;
    color: #f0372d;
  }

  a:hover{
    cursor: pointer;
  }
}

.serviceIcon {
  width: 100%;
  height: auto;
}

.serviceSection{
  @include flexCenterCenter();
  flex-direction: row;
  min-height: 60vh;
  min-width: 99vw;
}

#imageAlimentacion {
  background-image: url("../../assets/jpg/Alimentacion.jpg");
  background-position: bottom;
}

#imageSustentabilidad{
  background-image: url("../../assets/jpg/Botella.jpg");
}

#imageMenteCuerpo{
  background-image: url("../../assets/jpg/Coaching.jpg");
}

.sectionImage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  background-color: white;
  min-height: 17rem;
  min-width: 17rem;
  margin: 4rem;
}

.sectionText {
  h3{
    color: $koiPrimary;
    font-size: larger;
    font-style: italic;
    margin-bottom: 1rem;
  }
  p{
    color: #707070;
    margin-right: 5rem;
  }

}

.servicesSectionCont{
  hr{
    border: white solid;
    border-width: 10px;
  }
}