/*
    animations:
*/
.rotateFlower1 {
  animation: flower1 5s ease-in-out forwards; }

.rotateFlower2 {
  animation: flower2 6s ease-in-out forwards; }

.koi1Animation {
  animation: koi1 6s ease-in-out forwards; }

@keyframes koi1 {
  0% {
    opacity: 0;
    transform: translateX(-30px) translateY(-10px) rotate(0); }
  40% {
    opacity: 1; }
  80% {
    opacity: 1;
    transform: translateX(0) translateY(0) rotate(0); } }

@keyframes flower1 {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg); }
  100% {
    transform: translateY(10px) translateX(15px) rotate(135deg); } }

@keyframes flower2 {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg); }
  100% {
    transform: translateY(5px) translateX(5px) rotate(-110deg); } }

.animate__animated.animate__rotateIn {
  --animate-duration: 1s; }

.animate__animated.animate__fadeIn {
  --animate-duration: 1.5s; }
  .animate__animated.animate__fadeIn .slow {
    --animate-duration: 2.5s; }
  .animate__animated.animate__fadeIn .fast {
    --animate-duration: 0.5s; }

.animate__animated.animate__rotateIn {
  --animate-duration: 2.5s; }

.animate__animated.animate__slideInLeft {
  --animate-duration: 0.2s; }

header {
  position: sticky;
  top: 0;
  z-index: 15; }

.koiHeader {
  background-color: white;
  margin: 1rem;
  margin-bottom: 0;
  padding: 0 0.5rem;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.2); }

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1 1 auto;
  font-size: small;
  margin-right: 1rem; }

nav li a {
  color: #707070;
  text-decoration: none;
  padding: 20px;
  font-weight: 700;
  height: 100%; }
  nav li a:hover {
    color: #181430; }

.koiName {
  color: black;
  padding: 5px;
  font-style: italic;
  font-weight: 700;
  justify-content: flex-start;
  flex: 0 1 auto;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none; }
  .koiName img {
    margin-right: 1rem;
    height: 40px;
    width: 40px;
    align-items: center; }

.activeSection {
  border-bottom: #181430 solid;
  border-width: 3px;
  line-height: 4; }
  .activeSection a {
    color: #181430;
    font-weight: 700; }

.koiContent {
  display: grid;
  place-items: center;
  grid-template-rows: 2fr auto;
  z-index: 10; }

.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  flex-direction: column;
  background-color: #181430;
  height: 80%;
  width: 55%;
  border-radius: 100px;
  padding: 2.5rem; }
  .homeContainer p {
    color: white;
    font-size: small; }

.imageHome {
  height: 10rem;
  width: 60%;
  background-image: url("../assets/svg/homeImg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.sectionTitle {
  color: #f0372d;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  margin: 2rem; }

.homeGrid {
  height: 25vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 7px;
  grid-template-areas: "pic1 pic2 pic3 pic4 pic5";
  margin: 5px; }

.pic, .pic1, .pic2, .pic3, .pic4, .pic5 {
  background-size: cover;
  background-repeat: no-repeat; }

.pic1 {
  grid-area: pic1;
  background-image: url("../assets/jpg/sustentabilidad.jpg");
  background-position: center; }

.pic2 {
  grid-area: pic2;
  background-image: url("../assets/jpg/escuela.jpg"); }

.pic3 {
  grid-area: pic3;
  background-image: url("../assets/jpg/huerta.jpg"); }

.pic4 {
  grid-area: pic4;
  background-image: url("../assets/jpg/meditacion.jpg"); }

.pic5 {
  grid-area: pic5;
  background-image: url("../assets/jpg/vegetarianismo.jpg"); }

.homeKnowMore {
  width: 100%;
  min-height: 50vh;
  background-color: #141220;
  color: white; }
  .homeKnowMore p {
    margin: 4rem;
    font-size: medium;
    text-align: center; }
  .homeKnowMore span {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: large;
    text-align: center;
    margin: 3rem; }

.homeIntro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90vh; }

.koiFooter {
  background-color: #181430;
  padding: 1rem; }
  .koiFooter img {
    height: 1.5rem;
    width: auto; }
  .koiFooter ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: small;
    color: white; }

.position {
  display: flex;
  align-items: center; }

i {
  margin: 0.5rem;
  font-size: 1rem; }

i:hover {
  cursor: pointer;
  color: #f0372d; }

.aboutContent {
  display: grid;
  place-items: center;
  z-index: 10; }

.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  margin-bottom: 2rem;
  margin-top: 2rem; }
  .aboutContainer article {
    padding: 1rem; }

.imageAbout {
  height: 100%;
  min-width: 40%;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  background-image: url("../assets/img/koi.jpg");
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.5rem 4rem;
  border-radius: 50px;
  backdrop-filter: blur(3px);
  border: white solid;
  border-width: 1px; }
  .contactContainer form input {
    background-color: #f1f1f1;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    margin: 0.5rem 0;
    width: 100%;
    font-style: italic;
    color: #707070;
    font-size: x-small; }
  .contactContainer form textarea {
    background-color: #f1f1f1;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.5rem 0;
    width: 100%;
    font-style: italic;
    color: #707070;
    font-size: x-small; }

.siteButton {
  padding: 1rem 2rem;
  font-size: x-small;
  background-color: #181430;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 10px;
  margin: 1rem; }

.siteButton:hover {
  cursor: pointer;
  background-color: #f0372d; }

.servicesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #707070;
  background-color: white;
  min-width: 100%;
  margin: 1rem 0;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.topServices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black; }
  .topServices p {
    text-align: center; }

.mainServices {
  flex: 1 1 40%;
  margin: 0rem 2rem 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .mainServices div {
    justify-content: space-around;
    padding: 1rem;
    font-size: x-small;
    width: 30%; }
  .mainServices h3 {
    color: #181430;
    font-size: medium;
    font-style: italic;
    text-align: center;
    margin-bottom: 1rem; }
  .mainServices p {
    text-align: center; }
  .mainServices a {
    display: flex;
    justify-content: center;
    margin: 1rem;
    color: #f0372d; }
  .mainServices a:hover {
    cursor: pointer; }

.serviceIcon {
  width: 100%;
  height: auto; }

.serviceSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 60vh;
  min-width: 99vw; }

#imageAlimentacion {
  background-image: url("../assets/jpg/alimentacion.jpg");
  background-position: bottom; }

#imageSustentabilidad {
  background-image: url("../assets/jpg/botella.jpg"); }

#imageMenteCuerpo {
  background-image: url("../assets/jpg/coaching.jpg"); }

.sectionImage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  background-color: white;
  min-height: 17rem;
  min-width: 17rem;
  margin: 4rem; }

.sectionText h3 {
  color: #181430;
  font-size: larger;
  font-style: italic;
  margin-bottom: 1rem; }

.sectionText p {
  color: #707070;
  margin-right: 5rem; }

.servicesSectionCont hr {
  border: white solid;
  border-width: 10px; }

.desktopHide {
  display: none; }

.othersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #707070;
  background-color: white;
  min-width: 100%;
  margin: 1rem 0 0 0;
  padding-top: 1rem;
  padding-bottom: 3rem; }

.serviceSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 60vh;
  min-width: 99vw; }

.othersSection {
  width: 100%;
  height: 100%; }

#imageEmpresa {
  background-image: url("../assets/jpg/empresas.jpg"); }

#imageEscuela {
  background-image: url("../assets/jpg/ninio.jpg");
  background-position: top; }

.sectionImageOthers {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  min-height: 400px;
  min-width: 100%;
  position: relative;
  background-attachment: fixed; }

.sectionTextOthers {
  margin: 3rem; }
  .sectionTextOthers h3 {
    color: #181430;
    font-size: larger;
    font-style: italic;
    margin-bottom: 1rem; }
  .sectionTextOthers p {
    color: #707070; }

/* Layout general /////////////////////////////////////////////////////////*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  font-family: "Lato", sans-serif; }

html {
  scroll-behavior: smooth; }

.bgGradient {
  background: #e8e8e8;
  background: linear-gradient(180deg, #e1e8e2 0%, #b1cbb1 100%); }

.bgWhite {
  background: white; }

/* Elementos de Background  /////////////////////////////////////////////////////////*/
.backgroundElements {
  display: flex;
  justify-content: center; }

.homeBgWater {
  background: url("../assets/svg/water.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  top: 0%;
  height: 40%;
  width: 100%; }

.homeGirl {
  position: absolute;
  top: 35%;
  height: 25%;
  width: auto;
  z-index: 5; }

.leaf, #leaf1, #leaf2, #leaf3, #leaf4, #leaf5, #leaf6 {
  position: absolute;
  height: 4rem;
  width: auto; }

#leaf1 {
  top: 10%;
  left: 20%;
  transform: rotate(0.6turn); }

#leaf2 {
  top: 32%;
  left: 35%;
  height: 3rem;
  transform: rotate(0.3turn); }

#leaf3 {
  top: 15%;
  right: 40%;
  height: 2rem;
  transform: rotate(0.1turn); }

#leaf4 {
  top: 10%;
  right: 20%;
  height: 3.5rem;
  transform: rotate(-0.2turn); }

#leaf5 {
  top: 32%;
  left: 5%;
  height: 3rem;
  transform: rotate(0.3turn); }

#leaf6 {
  top: 33%;
  right: 6%;
  height: 3.5rem;
  transform: rotate(-0.2turn); }

.lily, #lily1, #lily2, #lily3, #lily4 {
  position: absolute;
  height: 4rem;
  width: auto; }

#lily1 {
  top: 20%;
  left: 30%; }

#lily2 {
  top: 30%;
  right: 35%;
  height: 5rem;
  transform: rotate(-0.35turn); }

#lily3 {
  top: 40%;
  left: 9%;
  height: 3rem; }

#lily4 {
  top: 62%;
  right: 31%;
  transform: rotate(-0.35turn); }

.koi, #koiHome, #koi1, #koi2, #koi3, #koi4 {
  position: absolute; }

.koiFish {
  height: 3rem;
  width: auto; }

#koiHome {
  top: 15%;
  left: 40%;
  height: 4rem; }

#koi1 {
  top: 35%;
  left: 29%; }

#koi2 {
  bottom: 20%;
  left: 5%;
  transform: rotate(-0.35turn); }

#koi3 {
  top: 20%;
  right: 20%;
  transform: rotate(0.1turn); }

#koi4 {
  bottom: 25%;
  right: 12%;
  transform: rotate(0.3turn); }
